*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#minicircle{
    height: 14px;
    width: 14px;
    background-color: yellow;
    z-index: 9999;
    position: absolute;
    border-radius: 50%;
}
.bounding{
    width: fit-content;
   /* background-color: red;*/
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(120%);
}
#main{
    height: 800%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    color: white;
    font-family: monument;
    font-size: 2.5vh;
    font-weight: 500;
    padding: 0px 40px;
}
#slider{
    height: 38vh;
    width: 100vw;
    background-color: black;
    padding: 10px 0px;
    opacity: 2;
}
#slider h1{
    font-family: monument;
    font-size: 18vh;
    margin:5vh 5vw;
    font-weight: 500;
    color: white;
}
#slide{
    width: fit-content;
   /* background-color: rebeccapurple;*/
}
#slide h4{
    color: white;
    font-family: monument;
    font-size: 2.2vh;
    margin-left: 50vw;
    font-weight: 500;
}
#footer{
    height: 10vh;
    width: 100vw;
    /*background-color: violet;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer h2{
    font-size: 2.3vh;
    font-family: Kalam;
    font-size: 500;
    font-weight: 400;
    color: white;
    margin: 0px 15px;
    text-transform: uppercase;
}
#iconset{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#iconset .class{
    height: 5vh;
    width: 2.1vw;
    font-weight: 1000;
    background-color: white;
    margin-right: 30px;
    border-radius: 50%;
    padding: 5px;
    color: black;
    text-transform: uppercase;
}
#second{
    height: 100vh;
    width: 100vw;
 /*   background-color: yellow;*/
   padding-right: 10vw;
}
.elem{
    
    width: 100%;
    padding: 4vw 3vw;
    padding-right: 0;
    border-top: 1px solid whitesmoke;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.elem h1{
    font-family: monument;
    color: white;
    font-size: 8vh;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.9;
}
.elem h5{
    color: white;
}
.elemlast{
    width: 100%;
    padding: 4vw 3vw;
    padding-right: 0;
    border-top: 1px solid whitesmoke;
    text-transform: uppercase;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.elemlast h1{
    font-family: monument;
    color: white;
    font-size: 8vh;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.9;
}
.elemlast h5{
    color: whitesmoke;
}
.elemlast img{
    height: 10%;
    z-index: 999;
    display: none;
}
.elem img{
    display: none;
    height: 10%;
    /*z-index: 999;*/
}
#third{
    height: 85vh;
    width: 100vw;
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#t1{
    height: 85vh;
    width: 50vw;
  /*  background-color: red;*/
}
#t1 img{
    height: 80%;
    border-radius: 80%;
   /* padding: 50px 50%;*/
    margin: 50px 50%;
}
#t2{
    height: 85vh;
    width: 50vw;
  /*  background-color: yellowgreen;*/
    text-align: justify;
}
#t2 p{
    text-align: center;
    padding: 20%;
    font-size: 2.3vh;
    line-height: 1.5;
    font-weight: 500;
    color: whitesmoke;
}
#t2 button{
    color: whitesmoke;
    background-color: black;
    padding: 10px 30px;
    border: 2px solid wheat;
    margin: 20px 30px;
    border-radius: 18px;
}
#third4{
    height: 8vh;
    width: 100vw;
   /* background-color: yellow;*/
    color: wheat;
}

#third4 h4{
    font-family:kalam;
    font-weight: 900;
    padding-left: 30px;
    font-size: 2.5vh;
}
#third4 h2{
    font-weight: 400;
    opacity: 1;
    font-size: 3.9vh;
    font-family: Bebas Neue;
    padding-left: 30px;
}
#footer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
#footerleft{
    height: 100vh;
    width: 50vw;
   /* background-color: red;*/
    color: white;
    display: flex;
    gap: 20px;
    padding-top: 20px;
    font-size: 2.7vh;
}
#footerright{
    height: 100vh;
    width: 50vw;
   /* background-color: yellow;*/
    gap: 30px;
    display: flex;
    padding-left: 25%;
    
}
#footerright a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2vh;
    opacity: 8;
}